# Reading CSV Exercise

This time we are going to pull data directly from the internet.


**1**. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pn

**2**. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [4]:
chipotle = pn.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")
chipotle['item_price'] = chipotle['item_price'].replace({'\$':''}, regex= True).astype(float)

**3**. Display the first 10 items in the dataset

In [6]:
chipotle.iloc[:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

**4**. How many times were a Veggie Salad Bowl ordered?

In [15]:
len(chipotle[chipotle['item_name'] == 'Veggie Salad Bowl'])

18

**5**. How many times people ordered more than one Canned Soda?

In [45]:
len(chipotle[chipotle['item_name'] == 'Canned Soda']['quantity'] > 1)

104

**6**. What was the price of the most expensive item ordered?

In [60]:
chipotle['item_price'].max()

44.25

**7**. What was the quantity of the most expensive item ordered?

In [68]:
chipotle.sort_values('item_price', ascending= False).head(1)['quantity']

3598    15
Name: quantity, dtype: int64

**8**. Which products cost more than $10.00?

In [76]:
chipotle[chipotle['item_price'] > 10]['item_name'].unique()

array(['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito',
       'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl',
       'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito',
       'Carnitas Bowl', 'Barbacoa Burrito', 'Chicken Salad Bowl',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chicken Crispy Tacos', 'Chicken Salad', 'Steak Salad Bowl',
       'Bowl', 'Veggie Soft Tacos', 'Barbacoa Soft Tacos',
       'Carnitas Crispy Tacos', 'Carnitas Salad Bowl',
       'Barbacoa Salad Bowl', 'Chips and Fresh Tomato Salsa',
       'Steak Soft Tacos', 'Carnitas Soft Tacos', 'Steak Crispy Tacos',
       'Chips and Guacamole', '6 Pack Soft Drink', 'Bottled Water',
       'Side of Chips'], dtype=object)

**9**. How many items have no choice description?

In [81]:
chipotle['choice_description'] == 'None'

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
4592    False
4593    False
4594    False
4595    False
4596    False
4597    False
4598    False
4599    False
4600    False
4601    False
4602    False
4603    False
4604    False
4605    False
4606    False
4607    False
4608    False
4609    False
4610    False
4611    False
4612    False
4613    False
4614    False
4615    False
4616    False
4617    False
4618    False
4619    False
4620    False
4621    False
Name: choice_description, Length: 4622, dtype: bool

**10**. Replace the NaN values in choice descriptions with an empty string

**11**. Sort the items from the most to less expensive