In [6]:
import numpy as np
import pandas as pd

In [30]:
amzn = [2039.51, 12.63, 487.74, 1.61, 157.98, 972.96] # AMZN
goog = [1197.0, 23.16, 348.95, 1.4, 51.38, 829.37]  # GOOG      
fb = [171.16, 6.46, 2398.61, 0.66, 25.87, 482.68]  # FB

# METHOD 1

In [40]:
np.array((amzn, goog, fb)).T

array([[2.03951e+03, 1.19700e+03, 1.71160e+02],
       [1.26300e+01, 2.31600e+01, 6.46000e+00],
       [4.87740e+02, 3.48950e+02, 2.39861e+03],
       [1.61000e+00, 1.40000e+00, 6.60000e-01],
       [1.57980e+02, 5.13800e+01, 2.58700e+01],
       [9.72960e+02, 8.29370e+02, 4.82680e+02]])

In [41]:
pd.DataFrame(np.array((amzn, goog, fb)).T,
             columns = ['Amazon', 'Google', 'Facebook'],
             index = ['Closing price', 'EPS', 'Shares Outstanding(M)', 'Beta', 'P/E', 'Market Cap(B)'])

                        Amazon   Google  Facebook
Closing price          2039.51  1197.00    171.16
EPS                      12.63    23.16      6.46
Shares Outstanding(M)   487.74   348.95   2398.61
Beta                      1.61     1.40      0.66
P/E                     157.98    51.38     25.87
Market Cap(B)           972.96   829.37    482.68