In [2]:
import pandas as pd

flights = pd.read_csv('misc/flights.csv')
flights.head()

,Month,Day,Weekday,Airline,Origin,Dest,AirTime,Distance,ArrivalDelay,Diverted,Cancelled
0,1,1,4,WN,LAX,SLC,94.0,590,65.0,0,0
1,1,1,4,UA,DEN,IAD,154.0,1452,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,85.0,641,35.0,0,0
3,1,1,4,AA,DFW,DCA,126.0,1192,-7.0,0,0
4,1,1,4,WN,LAX,MCI,166.0,1363,39.0,0,0

**1**. Find the month and day in which the longest arrival delay occurred.

In [26]:
flights.iloc[flights.ArrivalDelay.idxmax()]['Month':'Day']

Month    12
Day      30
Name: 58188, dtype: object

**2**. Find the three airlines with the longest arrival delays.

In [87]:
flights.iloc[flights.iloc[flights.groupby('Airline')['ArrivalDelay'].idxmax()].ArrivalDelay.nlargest(3).index[:]].Airline

58188    UA
32218    AA
5540     F9
Name: Airline, dtype: object

**3**. Find the three airlines with the highest number of cancelled or diverted flights.

In [85]:
div = flights.groupby('Airline').Diverted.sum().nlargest(3)
can = flights.groupby('Airline').Cancelled.sum().nlargest(3)
pd.concat([div, can]).nlargest(3)

Airline
AA    154
MQ    152
EV    146
dtype: int64

**4**. Find the airlines with more than 2% of cancelled flights. For each such airline, print its name
and the precentage of cancelled flights.

In [88]:
flights. flights.groupby('Airline').Cancelled.sum()

Airline
AA    154
AS      0
B6      1
DL     38
EV    146
F9     10
HA      0
MQ    152
NK     25
OO    142
UA     93
US     21
VX      6
WN     93
Name: Cancelled, dtype: int64

**5**. For each origin and destination, find the average and variance of the airtime.

**6**. Find the airline that makes the most flights between 500 and 1,000 miles.

**7**. Create a bar plot showing the number of flights originating from each city.

**8**. Change the Weekday column to have the day name instead of day number, e.g. 1 - Sun, 2 - Mon, etc.

**9**. Join the Month and Day columns into a single column named Date. For example, if month=3, day=15, the date column should have 3/15.

**10**. Find the longest sequence of on-time flights per airline (an on-time flight is a flight with less than 15 minutes arrival delay).